:root {
	--color4: #f1edbe;
	--color5:	#493224; /*#35435E; */

}
html {scroll-behavior: smooth;}
* { box-sizing: border-box;}
body { background-color: var(--color5); 
font-family: Arial;
margin: 0;}
a { text-decoration: none;
		
		padding: 3px 10px;
		border-radius: 5px;}

header { 
	background-color: var(--color4);
	background-image: url(retro.jpg), url(retro-vonal.jpg);
	background-repeat: no-repeat, repeat-x;
	background-size: auto 100%, auto 100%;
	background-position: bottom center, bottom left;
	width: 100%;
	height: 240px;
}
nav, h1, h2, h3 {
font-family: 'Handlee', cursive;
font-variant: small-caps;
font-weight: bold;	
}
nav { background-color: var(--color4);
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 10px;
	margin: 0 0 5px 0;
	color: var(--color5) ;
	border-top:5px var(--color5) solid;
	border-bottom:1px var(--color5) solid;
	box-shadow: 1px 1px 15px var(--color4)}
nav a { color: 1px var(--color5) solid; }
nav a:hover { background-color: var(--color5);
	color: var(--color4) }
#hambi {
	text-align: right;
	padding: 10px 20px;
	font-size: 150%;
}
#menulista {
	list-style: none;
	display: none;
	font-size: 90%;
	padding:0
} 
main { 
	max-width: 95%;
	width: 1000px;
	margin: auto;
	padding: 50px 0 150px 0; 
	overflow: auto;
	color: var(--color4);
	line-height:1.5em}
main a { color: var(--color6); }
main a:hover { background-color: var(--color2); }
footer { width: 100%;
	margin: auto;
	text-align: center;
	background-color: var(--color4);
	margin-top: 5px;
	padding: 50px;
	color: var(--color5); 
	border-top:1px var(--color5) solid;
	box-shadow: -1px -1px 15px var(--color4)}
footer div {display: inline;}
footer div.autor { float:left;}
footer div.link { float: right;}
footer a { color: var(--color3); }
footer a:hover { color: var(--color6);}
h1 { color: var(--color4);
	text-shadow: 1px 1px 1px var(--color4); }
h2 { text-align: center; 
	color: var(--color4);
	text-shadow: 1px 1px 1px var(--color5); }
p {margin: 50px auto; text-align:justify;}


@media screen and (max-width:600px) {
p {margin: 30px auto; text-align:left;}
	h1 {
		margin-top: 10px;
	}
	.kering, .felfedezo {
		display: none;
	}
	.menupont {
	line-height:2.5em;
}
}

/* találati lista */
table {
	max-width: 100%;
	margin: auto;
}
th, td {
	padding: 5px;
	border: 1px var(--color4) solid;
}
th {
	background-color: var(--color3);
	color: var(--color5);
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
@media screen and (max-width:600px)
{
	.no-mobil {display: none;}
	table {
		font-size: 80%;
	}
}

@media screen and (min-width:600px)
{
	#up {
			display: none;
	}
}

#up {
	position: fixed;
	right: 20px;
	bottom: 10px;
	border: 2px solid var(--color3);
	color: var(--color5);
	background-color: var(--color4);
	height: 50px;
	width: 50px;
	font-size: 30px;
	font-weight: bold;
	padding-top: 2px;
	border-radius: 50%; }
	
@media screen and (min-width: 600px) {
	#hambi {
		display: none;
	}
	#menulista {
		display: block;
	}
	nav ul li.menupont {
		display: inline-block;
	}
	
}